<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adoption Application Form</title>
</head>
<body>
    <h1>Adoption Application Form</h1>
    {% if pet %}
        <h2>Adopting: {{ pet.name }} ({{ pet.species }}, {{ pet.breed }})</h2>
        <img src="{{ url_for('static', filename=pet.image_url) }}" alt="{{ pet.name }}" style="max-width:200px;">
        <input type="hidden" name="pet_id" value="{{ pet.id }}">
    {% endif %}
    <form method="POST">
    <form method="POST" action="{{ url_for('main.adoption_application') }}">
        <h2>Applicant Information</h2>
        Name: <input type="text" name="name" required><br>
        Date: <input type="date" name="date"><br>
        Address: <input type="text" name="address"><br>
        Apartment/Unit #: <input type="text" name="apartment"><br>
        City: <input type="text" name="city"><br>
        State: <input type="text" name="state"><br>
        Zip Code: <input type="text" name="zip"><br>
        Phone Number: <input type="text" name="phone"><br>
        Email: <input type="email" name="email"><br>
        Date of Birth: <input type="date" name="dob"><br>
        Age: <input type="number" name="age"><br>
        ID/Driver’s License #: <input type="text" name="id_number"><br>
        Spouse/Partner name: <input type="text" name="partner"><br>
        <br>
        Are you currently: 
        <input type="checkbox" name="employment" value="full-time">Employed full-time
        <input type="checkbox" name="employment" value="part-time">Employed part-time
        <input type="checkbox" name="employment" value="unemployed">Unemployed
        <input type="checkbox" name="employment" value="student">Student
        <input type="checkbox" name="employment" value="retired">Retired
        <br><br>
        <h2>Living Arrangement</h2>
        Do you: 
        <input type="radio" name="living" value="rent">Rent your home
        <input type="radio" name="living" value="own">Own your home
        <input type="radio" name="living" value="parents">Live at parents
        <br>
        If you rent, does your landlord allow pets?
        <input type="radio" name="landlord_pets" value="yes">Yes
        <input type="radio" name="landlord_pets" value="no">No
        <input type="radio" name="landlord_pets" value="not_sure">Not sure
        How many? <input type="number" name="how_many"><br>
        Landlord's name and phone number: <input type="text" name="landlord_info"><br>
        What type of home do you have?
        <input type="checkbox" name="home_type" value="house">House
        <input type="checkbox" name="home_type" value="condo">Condo
        <input type="checkbox" name="home_type" value="mobile">Mobile home
        <input type="checkbox" name="home_type" value="apartment">Apartment
        <input type="checkbox" name="home_type" value="other">Other
        <br>
        Length of time at your current address: <input type="text" name="address_length"><br>
        Do you plan on moving in the foreseeable future? <input type="text" name="moving"><br>
        Are all members of your household aware of and in agreement with this adoption? <input type="text" name="household_agreement"><br>
        Are any members of the household allergic to cats or dogs?
        <input type="radio" name="allergic" value="yes">Yes
        <input type="radio" name="allergic" value="no">No
        <br><br>
        <input type="submit" value="Submit Application">
    </form>
</body>
</html>