{% extends "base.html" %}

{% block content %}
<div class="paw-background">
  <div class="central-content" style="font-size:2em;">
    <div class="contact-box">
    <h2>Contact Us</h2>
    <p style="margin: 20px 0; font-size:1em;">Email: <a href="mailto:barksandpaws@hotmail.com" style="color:black">barksandpaws@hotmail.com</a></p>
    <p style="margin: 20px 0; font-size:1em;">Phone: +48 535 576 215</p>
    <p style="margin: 20px 0; font-size:1em;">Chmielna 33, Warsaw</p>
  </div>
</div>
{% endblock %}
